<!-- <section id="arhive-reliases" class="arhive-reliases hidden">
  <div class="container arhive-reliase-container">
    <ul class="arhive-reliase-list">
      <li class="arhive-reliase-item">
        <img
          class="arhive-reliase-img"
          src="././img/Home/project/project-1.jpg"
          alt="Homes-Art"
        />
        <div class="arhive-reliase-text-content">
          <div class="arhive-reliase-herro-wrapper">
            <h1 class="arhive-reliase-herro">Homes and Apartments</h1>
            <p class="reliase-herro-text">Wrocław,<br />20.03.2025</p>
          </div>
          <p class="arhive-reliase-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia rerum
            modi a vel atque ab dolores quod doloribus, ea sit maiores
            voluptatibus, quaerat, accusamus consequuntur est! Itaque vitae
            officia quaerat!
          </p>
          <a class="more-link more-relises" href="#"
            >Więcej
            <svg class="arrow-icon more-relises">
              <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
          ></a>
        </div>
      </li>
    </ul>
  </div>
</section> -->
