<section id="updates-reliases" class="updates-reliases">
  <div class="container updates-reliase-container">
    <ul class="updates-reliase-list">
      <li class="updates-reliase-item">
        <a class="more-link js-release-link" data-release="1">
          <img
            class="updates-reliase-img"
            src="././img/Updates/release1/fonImg-1x.jpg"
            srcset="
              ././img/Updates/release1/fonImg-1x.jpg 1x,
              ././img/Updates/release1/fonImg-2x.jpg  2x
            "
            alt="Homes"
            loading="lazy"
        /></a>
        <div class="updates-reliase-text-content">
          <div class="updates-reliase-herro-wrapper">
            <h1 class="updates-reliase-herro">Nowy projekt w Gdańsku</h1>
          </div>
          <p class="updates-reliase-text">
            Wykończenie 125 mieszkań pod wynajem długoterminowy!
          </p>
          <p class="reliase-herro-text">20.03.2025</p>

            <a
              class="more-link more-relises js-release-link contact-btn"
              data-release="1"
              href="#"
              >Więcej
              <svg class="arrow-icon more-relises">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>

        </div>
      </li>
      <li class="updates-reliase-item">
        <a class="more-link js-release-link" data-release="2">
          <img
            class="updates-reliase-img"
            src="././img/Updates/release2/main-poznan.jpg"
            srcset="
              ././img/Updates/release2/main-poznan.jpg 1x,
              ././img/Updates/release2/main-poznan-2x.jpg  2x
            "
            alt="Homes"
            loading="lazy"
        /></a>
        <div class="updates-reliase-text-content">
          <div class="updates-reliase-herro-wrapper">
            <h1 class="updates-reliase-herro">Nowy projekt w Gdańsku</h1>
          </div>
          <p class="updates-reliase-text">
            Wykończenie 125 mieszkań pod wynajem długoterminowy!
          </p>
          <p class="reliase-herro-text">20.03.2025</p>

            <a
              class="more-link more-relises js-release-link contact-btn"
              data-release="2"
              href="#"
              >Więcej
              <svg class="arrow-icon more-relises">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>

        </div>
      </li>
    <li class="updates-reliase-item">
        <a class="more-link js-release-link" data-release="3">
          <img
            class="updates-reliase-img"
            src="././img/Updates/release3/szkolenie-main.jpg"
            srcset="
              ././img/Updates/release3/szkolenie-main.jpg 1x,
              ././img/Updates/release3/szkolenie-main-2x.jpg  2x
            "
            alt="Homes"
            loading="lazy"
        /></a>
        <div class="updates-reliase-text-content">
          <div class="updates-reliase-herro-wrapper">
            <h1 class="updates-reliase-herro">Nowy projekt w Gdańsku</h1>
          </div>
          <p class="updates-reliase-text">
            Wykończenie 125 mieszkań pod wynajem długoterminowy!
          </p>
          <p class="reliase-herro-text">20.03.2025</p>

            <a
              class="more-link more-relises js-release-link contact-btn"
              data-release="3"
              href="#"
              >Więcej
              <svg class="arrow-icon more-relises">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>

        </div>
      </li>
    </ul>
  </div>
</section>
