<section id="updates-hero" class="updates-hero">
  <div class="container updates-hero-container">
    <div class="updates-hero-wrapper">
      <ul class="update-hero-list">
        <li class="update-hero-item">
          <a class="update-herro-link js-releases active" href="#"
            >Nasze aktualności</a
          >
        </li>
        <li class="update-hero-item">
          <a class="update-herro-link js-arhive archiwun-display" href="#">Archiwum</a>
        </li>
      </ul>
      <p>Bądź na bieżąco – sprawdź aktualności</p>
    </div>
  </div>
</section>
