.team {
  margin-bottom: 50px;
}

.team-title {
  margin-bottom: 40px;
  font-family: var(--font-family-second);
  font-weight: var(--font-weight-base);
  font-size: 40px;
  line-height: 1;
  color: var(--section-text-color-dark);
}
.team-list-card-pic{
  height: 255px;

  object-fit: cover;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
}
.team-list-item {
  width: 100%;
  padding-left: 24px;
  padding-bottom: 46px;
  box-shadow: 0 3px 4px -5px rgba(0, 0, 0, 0.04),
    0 7px 10px -5px rgba(0, 0, 0, 0.06), 0 18px 24px -5px rgba(0, 0, 0, 0.08),
    0 60px 80px -5px rgba(0, 0, 0, 0.1);
  background: #fff;
  max-width: calc((100% - 12px * 2) / 3);
  min-height: 480px;
}
.team-list-card-info-wrapper {
  margin-top: 31px;
}
.team-list-card-name {
  font-weight: var(--font-weight-base);
  font-size: 20px;
  color: var(--section-text-color-dark);
}
.team-list-card-position {
  max-width: 260px;
  margin-bottom: 46px;
  font-weight: var(--font-weight-base);
  font-size: 18px;
  line-height: 1.1;
  color: var(--section-text-color-dark);
}
.team-list-card-email {
  font-weight: var(--font-weight-base);
  font-size: 18px;
  line-height: 1.1;
  color: var(--section-text-color-dark);
}

@media only screen and (max-width: 1200px) {
  .team {
    margin-bottom: 25px;
  }
  .team-list-card-pic{
  max-height: 255px;

  object-fit: cover;
}




  .team-title {
    margin-bottom: 28px;
    font-size: 40px;
  }
  .team-list {
    row-gap: 28px;
  }
  .team-list-item {
    padding-left: 18px;
    padding-bottom: 36px;
    max-width: calc((100% - 12px) / 2);
    min-height: 100%;
  }
  .team-list-card-info-wrapper {
    margin-top: 24px;
  }
  .team-list-card-name {
    font-size: 16px;
  }
  .team-list-card-position {
    margin-bottom: 34px;
    font-size: 14px;
  }
  .team-list-card-email {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .team {
    margin-bottom: 15px;
  }

  .team-title {
    margin-bottom: 24px;
    font-size: 28px;
  }
  .team-list {
    row-gap: 20px;
  }
  .team-list-item {
    padding-left: 16px;
    padding-bottom: 32px;
    max-width: 100%;
  }
  .team-list-card-info-wrapper {
    margin-top: 24px;
  }
}
