<section id="imp-projects" class="imp-projects">
  <div class="container imp-projects-container">
    <h2 class="imp-projects-header">Nasze realizację</h2>
    <ul class="imp-project-list">
      <li class="imp-project-main-item" id="year2025">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">IVANISHVILI Sp. z o.o.</h3>
            <h2 class="imp-project-info-street">ul.Indonezyjska</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Kompleksowe wykończenie 10 mieszkań przeznaczonych na wynajem.
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">10</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2025r.</p>
              <p class="imp-project-year-text">Realizacja w trakcie</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="1"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>

        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="1"
          >
            <img
              class="imp-project-img"
              src="gallery-impl/Naowo-Indonezyjska/1x/Indonezyjska-26.jpg"
              srcset="
                /gallery-impl/Naowo-Indonezyjska/1x/Indonezyjska-26.jpg 1x,
                /gallery-impl/Naowo-Indonezyjska/2x/Indonezyjska-26.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
        </div>
        <a class="more-link picture-link js-impl-gallery" data-implGallery="1">
          <img
            class="imp-project-img-mob"
            src="gallery-impl/Naowo-Indonezyjska/1x/Indonezyjska-24.jpg"
            srcset="
              /gallery-impl/Naowo-Indonezyjska/1x/Indonezyjska-24.jpg 1x,
              /gallery-impl/Naowo-Indonezyjska/2x/Indonezyjska-24.jpg 2x
            "
            alt="img"
            loading="lazy"
        /></a>
      </li>
      <li class="imp-project-main-item" id="year2024">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">Vantage Development S.A.</h3>
            <h2 class="imp-project-info-street">ul.Buforowa 83</h2>
            <p class="imp-project-info-city">Wrocław
            </p>
            <p class="imp-project-info-text">
              Kompleksowa adaptacja lokalu usługowego na biuro sprzedaży w
              zakresie prac wykończeniowych.
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">🤌</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2024r</p>
              <p class="imp-project-year-text">🤌</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="2"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery "
            data-implGallery="2"
          >
            <img
              class="vantage imp-project-img"
              src="gallery-impl/silownia-vantage-club_gallery/1x/Vantage-club-1.jpg"
              srcset="
                gallery-impl/silownia-vantage-club_gallery/Vantage-club-pc.jpg 1x,
                gallery-impl/silownia-vantage-club_gallery/Vantage-club-pc-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="2"
          >
            <img
              class="imp-project-img-mob"
              src="gallery-impl/silownia-vantage-club_gallery/1x/Vantage-club-1.jpg"
              srcset="
                gallery-impl/silownia-vantage-club_gallery/1x/Vantage-club-1.jpg 1x,
                gallery-impl/silownia-vantage-club_gallery/2x/Vantage-club-1.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
        </div>
      </li>
      <li class="imp-project-main-item" id="year2023">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">IVANISHVILI Sp. z o.o.</h3>
            <h2 class="imp-project-info-street">ul. Na Grobli</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Wykończenie „pod klucz” 27 apartamentów Marina Apartments,
              zlokalizowanych przy ul. Na Grobli 20-24 we Wrocławiu wraz
              z dostawą wyposażenia
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">27</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2023r.</p>
              <p class="imp-project-year-text">styczeń – luty</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="3"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="3"
          >
            <img
              class="imp-project-img"
              src="gallery-impl/IVANISHVILI-Marina strona/1x/IVANISHVILI-Marina1.jpg"
              srcset="
              gallery-impl/IVANISHVILI-Marina strona/1x/IVANISHVILI-Marina1.jpg 1x,
            gallery-impl/IVANISHVILI-Marina strona/2x/IVANISHVILI-Marina1.jpg 2x
            "
              alt="img"
              loading="lazy"
          /></a>
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="3"
          >
            <img
              class="imp-project-img-mob"
              src="gallery-impl/IVANISHVILI-Marina strona/1x/IVANISHVILI-Marina1.jpg"
              srcset="
              gallery-impl/IVANISHVILI-Marina strona/1x/IVANISHVILI-Marina1.jpg 1x,
            gallery-impl/IVANISHVILI-Marina strona/2x/IVANISHVILI-Marina1.jpg 2x
            "
              alt="img"
              loading="lazy"
          /></a>
        </div>
      </li>
      <li class="imp-project-main-item" id="year2022">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">
              DM Mieszkania Sp. zo.o. Sp. k.
            </h3>
            <h2 class="imp-project-info-street">ul. Rychtalska</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Zaprojektowanie oraz kompleksowe wykończenie 232 lokali
              mieszkalnych w budynku CITYZEN przy u. Rychtalskiej 11-15 we
              Wrocławiu
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">232</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2022r.</p>
              <p class="imp-project-year-text">mart - październik</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="4"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="4"
          >
            <img
              class="imp-project-img"
              src="gallery-impl/DM_Mieszkania-strona/1x/DMmieszkania1.jpg"
              srcset="
                gallery-impl/DM_Mieszkania-strona/1x/DMmieszkania1.jpg 1x,
                gallery-impl/DM_Mieszkania-strona/2x/DMmieszkania1.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="4"
          >
            <img
              class="imp-project-img-mob"
              src="gallery-impl/DM_Mieszkania-strona/1x/DMmieszkania1.jpg"
              srcset="
                gallery-impl/DM_Mieszkania-strona/1x/DMmieszkania1.jpg 1x,
                gallery-impl/DM_Mieszkania-strona/2x/DMmieszkania1.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
        </div>
      </li>
      <li class="imp-project-main-item" id="year2021">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">Vantage Development S.A.</h3>
            <h2 class="imp-project-info-street">ul. Kopycińskiego</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Wykonanie prac budowlanych i wykończeniowych w 185 lokalach
              mieszkalnych w przedsięwzięciu deweloperskim Buforowa bud. C, D
              realizowanym we Wrocławiu przy ul. Kopycińskiego
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">185</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2022r.</p>
              <p class="imp-project-year-text">mart - grudzień</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="5"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="5"
          >
            <img
              class="imp-project-img"
              src="gallery-impl/Buforowa_89-strona/1x/buforowa2.jpg"
              srcset="
                gallery-impl/Buforowa_89-strona/1x/buforowa2.jpg 1x,
                gallery-impl/Buforowa_89-strona/2x/buforowa2.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="5"
          >
            <img
              class="imp-project-img-mob"
              src="gallery-impl/Buforowa_89-strona/1x/buforowa2.jpg"
              srcset="
                gallery-impl/Buforowa_89-strona/1x/buforowa2.jpg 1x,
                gallery-impl/Buforowa_89-strona/2x/buforowa2.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
        </div>
      </li>

    </ul>
  </div>
</section>
