<section id="release-page3" class="release-page hidden">
  <div class="container release-container">
    <button class="back-button release-gallery-back" >
      ❮❮ <span class="powrot">powrot</span>
    </button>

    <div class="release-name-wrapper">
      <h2 class="release-name">Szkolenia we Wroclawiu🔥</h2>
      <p class="release-text">
        Ciągle się szkolimy i rozwijamy! 📈
      </p>
    </div>

    <div class="release-content-wrapper">
      <p class="release-text">
        W grudniu nasza ekipa została zaproszona na specjalne szkolenie zorganizowane przez naszego wieloletniego dostawcę - firmę Tikkurila 🤝
        <p class="release-text">
        Na szkoleniu zaprezentowano nowe trendy w zakresie farb i tynków, oraz nowe produkty które wejdą na rynek w najbliższym czasie. Ponadto podczas części praktycznej szkolenia dedykowanej dla wykonawców, nabyliśmy przydatną wiedzę z zakresu technik aplikacji materiałów.
Cieszymy się z naszej współpracy, którą stale rozwijamy, wdrażając nowe technologie w swoich projektach!
      </p>


      <div class="swiper releaseSwiper">
        <ul class="release-gallery swiper-wrapper">
          <li class="gallery-item-release swiper-slide">
            <a class="gallery-link" href="#" title="Projekt Poznan ">
              <img
                class="gallery-image-release"
                src="img/Updates/release3/szkol1.jpg"
                srcset="
                  img/Updates/release3/szkol1.jpg 1x,
                  img/Updates/release3/szkol1-2x.jpg 2x
                "
                alt="Projekt Poznan - foto 1"
                loading="lazy"
              />
            </a>
          </li>

          <li class="gallery-item-release swiper-slide">
            <a class="gallery-link" href="#" title="Projekt Poznan ">
              <img
                class="gallery-image-release"
                src="img/Updates/release3/szkol2.jpg"
                srcset="
                  img/Updates/release3/szkol2.jpg 1x,
                  img/Updates/release3/szkol2-2x.jpg 2x
                "
                alt="Projekt Poznan - foto 2"
                loading="lazy"
              />
            </a>
          </li>

          <li class="gallery-item-release swiper-slide">
            <a class="gallery-link" href="#" title="wroclaw ">
              <img
                class="gallery-image-release"
                src="img/Updates/release3/szkol3.jpg"
                srcset="
                  img/Updates/release3/szkol3.jpg 1x,
                  img/Updates/release3/szkol3-2x.jpg 2x
                "
                alt="Wroclaw"
                loading="lazy"
              />
            </a>
          </li>


        </ul>
        <div class="release-prev swiper-button-prev"></div>
        <div class="release-next swiper-button-next"></div>
      </div>
      <p class="release-text">
        Dzięki ciągłemu doskonaleniu umiejętności, możemy sprostać oczekiwaniom naszych klientów 🎯
      </p>

      <a class="contact-btn news-btn open-modal-btn" data-open-modal>
        Skontaktuj się
      </a>
    </div>
  </div>
</section>
