<section id="release-page1" class="release-page hidden">
  <div class="container release-container">
    <button class="back-button release-gallery-back" >
      ❮❮ <span class="powrot">powrot</span>
    </button>

    <div class="release-name-wrapper">
      <h2 class="release-name">Nowy projekt w Gdańsku 🔥</h2>
      <p class="release-text">
        Wykończenie 125 mieszkań pod wynajem długoterminowy!
      </p>
    </div>

    <div class="release-content-wrapper">
      <p class="release-text">
        Z początkiem roku rozpoczęliśmy prace nad nową inwestycją od R4R Gdańsk
        Stocznia przy ul. Nowomiejskiej w Gdańsku. Naszym zadaniem jest
        wykończenie 125 mieszkań, które będą przeznaczone na wynajem
        długoterminowy.
      </p>
      <p class="release-text">
        ✅ Pierwsze prace przygotowawcze są już za nami, a teraz przechodzimy do
        kolejnych etapów – tych, które nadają przestrzeni charakter i odpowiedni
        klimat.
      </p>
      <p class="release-text">📅 Planowane zakończenie projektu - maj 2025</p>
      <div class="swiper releaseSwiper">
        <ul class="release-gallery swiper-wrapper">
          <li class="gallery-item-release swiper-slide">
            <a class="gallery-link" href="#" title="Projekt Gdańsk - foto 1">
              <img
                class="gallery-image-release"
                src="img/Updates/release1/foto1-1x.jpg"
                srcset="
                  img/Updates/release1/foto1-1x.jpg 1x,
                  img/Updates/release1/foto1-2x.jpg 2x
                "
                alt="Projekt Gdańsk - foto 1"
                loading="lazy"
              />
            </a>
          </li>

          <li class="gallery-item-release swiper-slide">
            <a class="gallery-link" href="#" title="Projekt Gdańsk - foto 2">
              <img
                class="gallery-image-release"
                src="img/Updates/release1/foto2-1x.jpg"
                srcset="
                  img/Updates/release1/foto2-1x.jpg 1x,
                  img/Updates/release1/foto2-2x.jpg 2x
                "
                alt="Projekt Gdańsk - foto 2"
                loading="lazy"
              />
            </a>
          </li>

          <li class="gallery-item-release swiper-slide">
            <a class="gallery-link" href="#" title="Projekt Gdańsk - foto 3">
              <img
                class="gallery-image-release"
                src="img/Updates/release1/foto3-1x.jpg"
                srcset="
                  img/Updates/release1/foto3-1x.jpg 1x,
                  img/Updates/release1/foto3-2x.jpg 2x
                "
                alt="Projekt Gdańsk - foto 3"
                loading="lazy"
              />
            </a>
          </li>

          <li class="gallery-item-release swiper-slide">
            <a class="gallery-link" href="#" title="Projekt Gdańsk - foto 4">
              <img
                class="gallery-image-release"
                src="img/Updates/release1/foto4-1x.jpg"
                srcset="
                  img/Updates/release1/foto4-1x.jpg 1x,
                  img/Updates/release1/foto4-2x.jpg 2x
                "
                alt="Projekt Gdańsk - foto 4"
                loading="lazy"
              />
            </a>
          </li>
        </ul>
        <div class="release-prev swiper-button-prev"></div>
        <div class="release-next swiper-button-next"></div>
      </div>
      <p class="release-text">
        Jeśli szukasz zaufanego partnera do realizacji dużych projektów
        wykończeniowych, który działa terminowo i z najwyższą jakością, jesteśmy
        do Twojej dyspozycji.
      </p>

      <a class="contact-btn news-btn open-modal-btn" data-open-modal>
        Skontaktuj się
      </a>
    </div>
  </div>
</section>
