.review {
  margin-bottom: 15px;
}
.reviews-container {
  padding-top: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.08),
    0px 16px 32px rgba(0, 0, 0, 0.1);
}
.img-background-wrapper {
  background-image: url(../../img/svg/build2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  padding-top: 50px;
  background-size: cover;
}

.review-header {
  font-family: var(--font-family-second);
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: var(--section-text-color-dark);
  text-align: center;
}
.review-header-name {
  font-family: var(--font-family-second);
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--section-text-color-dark);
  margin-bottom: 25px;
}
.reviews-img {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.reviews-pagination-container {
  z-index: 15;
  display: flex;
  justify-content: center;
}

.slide-reviews {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.08),
    0px 16px 32px rgba(0, 0, 0, 0.1);
}
.reviews-text {
  font-weight: 400;
  font-size: var(--mobail-font-size);
  line-height: 24px;
  margin-bottom: 30px;
  text-align: center;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.rev-investor-name {
  font-weight: 400;
  font-size: var(--mobail-font-size);
  line-height: 24px;
  color: #758285;
  text-align: center;
}
.review-investor {
  font-weight: 300;
  font-size: 14px;
  line-height: 19.2px;
  text-align: center;
  color: #758285;
}

.reviews-pagination-container .swiper-pagination-bullet {
  background-color: transparent;
  border: 1px solid black;

  border-radius: 50%;
}

.reviews-pagination-container .swiper-pagination-bullet-active {
  background-color: black;
  border: 1px solid black;
}

@media only screen and (min-width: 768px) {
  .review {
    margin-bottom: 25px;
  }
  .reviews-container {
    padding-top: 25px;
  }

  .review-header {
    padding-top: 30px;
    font-size: 35px;
    line-height: 35px;
  }
  .review-header-name {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 32px;
  }

  .reviews-img {
    width: 50px;
    height: 50px;
  }
  .slide-reviews {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .reviews-text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 55px;
    text-align: center;
    max-width: 350px;
    height: 120px;
    overflow: hidden;
  }
  .rev-investor-name {
    font-size: 18px;
    line-height: 24px;
  }
  .review-investor {
    font-size: 14px;
  }
   .img-background-wrapper {
    padding-top: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .review {
    margin-bottom: 50px;
  }
  .reviews-container {
    padding-top: 50px;
  }

  .review-header {
    font-size: 40px;
    line-height: 70px;
    padding: 0;
  }
  .review-header-name {
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 32px;
  }

  .reviews-img {
    width: 76px;
    height: 76px;
  }
  .slide-reviews {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .reviews-text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: px;
    text-align: center;
    max-width: 100%;
    padding: 0 90px;
    height: 120px;
    overflow: hidden;
  }
  .rev-investor-name {
    font-size: 20px;
    line-height: 24px;
  }
  .review-investor {
    font-size: 16px;
  }
}
