.whats-new {
  margin-bottom: 15px;
}
.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news-header-container {
  margin-bottom: 15px;
}
.news-header {
  text-align: center;
  font-family: var(--font-family-second);
  font-family: Poiret One;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}
.news-header-text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: rgba(117, 130, 133, 1);
  font-weight: 400;
}
.news-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.news-iteam {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.08),
    0px 16px 32px rgba(0, 0, 0, 0.1);
}
.news-iteam-header {
  font-family: var(--font-family-second);
  font-size: 25px;
  text-align: start;
  font-weight: 400;
}

.news-iteam-text {
  font-size: var(--mobail-font-size);
  text-align: start;
  margin-bottom: 15px;
}
.iteam-text-content {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}
.news-btn {
  color: var(--second-background-color);
  margin: 0 auto;
  border: 1px solid var(--second-background-color);
  margin-bottom: 20px;
  background-color: transparent;
}
.more-link-news {
  color: rgba(42, 49, 55, 1);
  fill: rgba(42, 49, 55, 1);
  justify-content: center;
  margin-left: 0;
  border-color: rgba(42, 49, 55, 1);
  font-size: var(--mobail-font-size);

}


@media only screen and (min-width: 768px) {
  .whats-new {
    margin-bottom: 25px;
  }
  .news-header-container {
    margin-bottom: 25px;
  }
  .news-header {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px;
  }
  .news-header-text {
    font-size: 18px;
    line-height: 24px;
    color: rgba(117, 130, 133, 1);
  }
  .news-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .news-iteam {
    gap: 20px;
    padding-bottom: 10px;
  }
  .news-iteam-header {
    font-size: 45px;
  }
  .news-iteam-text {
    font-size: var(--tablet-font-size);
  }
  .news-btn {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .whats-new {
    margin-bottom: 50px;
  }
  .news-container {
    align-items: start;
  }
  .news-header-container {
    margin-bottom: 0;
  }
  .news-header {
    text-align: left;
    font-family: var(--font-family-second);
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 12px;
  }
  .news-header-text {
    font-size: var(--font-size-base);
    line-height: 24px;
    text-align: start;
    color: rgba(117, 130, 133, 1);
  }
  .news-list {
    gap: 8px;
  }
  .news-iteam {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
  }
  .news-img {
    max-width: 657px;
    max-height: 384px;
  }
  .iteam-text-content {
    justify-content: space-between;
    padding: 0;
  }

  .news-iteam-header {
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
  }
  .news-iteam-text {
    font-weight: 400;
    font-size: var(--font-size-base);
    line-height: 33.44px;
  }
  .news-btn {
    font-size: 18px;
  }
  .more-link-news {
    color: rgba(42, 49, 55, 1);
    fill: rgba(42, 49, 55, 1);
    justify-content: center;
    margin-left: 0;


  }
}
