<section class="attitude" id="attitude">
  <div class="container attitude-container">


    <div class="attitude-video-wrapper">
  <iframe
    class="attitude-video"
    src="https://www.youtube.com/embed/jLOiA6Xe8zc?autoplay=1&mute=1&loop=1&playlist=jLOiA6Xe8zc"
    title="YouTube video"
    frameborder="0"
    allow="autoplay; encrypted-media; picture-in-picture"
    allowfullscreen>
  </iframe>
</div>
    <div class="attitude-container-wrapper">
      <h2 class="attitude-title">O Nanowo</h2>
      <p class="attitude-text">
        Jesteśmy firmą remontowo - budowlaną istniejącą na rynku od 2015 roku.
        Swoją działalność rozpoczynaliśmy od wykonywania projektów aranżacji
        wnętrz i remontów mieszkań pod klucz dla osób prywatnych. <br />
        Z biegiem czasu rozszerzyliśmy zakres naszych usług i od kilku lat
        zajmujemy się głównie realizacją dużych inwestycji przeznaczonych na
        wynajem lub sprzedaż dla Deweloperów.
      </p>

    </div>
  </div>
</section>
