<section class="contact-us">
  <div class="container contact-us-container">

    <div class="about-contact-header">
      <h2 class="about-contact-header-text">Zostaw swoje zgłoszenie w formie poniżej</h2>
    </div>
    <div class="about-contact-wrap">
    <div class="form-wrapper">
      <form class="contact-form" action="">
        <label class="form-label" for="username">Imię<span class="required-input">*</span></label>
        <input
          class="form-input"
          type="text"
          name="username"
          id="username"
          placeholder="Text"
        />
         <label class="form-label" for="usercompany"> Firma<span class="optional-span">(opcionalne)</span></label>
        <input
          class="form-input"
          type="text"
          name="usercompany"
          id="usercompany"
          placeholder="Text"
        />
        <label class="form-label" for="user-email">Email<span class="required-input">*</span></label>
        <input
          class="form-input"
          type="email"
          name="user-email"
          id="user-email"
          placeholder="Text"
        />
         <label class="form-label" for="telephone">Telefon<span class="optional-span">(opcionalne)</span></label>
          <input
            class="form-input"
            type="number"
            name="telephone"
            id="telephone"
            placeholder="Numer telefonu"
          />
        <label class="form-label" for="user-comment">Informacja<span class="required-input">*</span></label>
        <textarea
          class="user-comment form-input"
          name="user-comment"
          id="user-comment"
          placeholder="Text"
        ></textarea>
        <div class="modal-checkbox">
          <input
            class="checkbox visually-hidden"
            id="userPrivacy"
            type="checkbox"
            value="true"
            name="user-privacy"
          />
          <label class="checkbox-label" for="userPrivacy">
            <span class="custom-checkbox"
              ><svg class="checkbox-icon" width="10" height="10">
                <use
                  href="././img/svg/spreg-nanowo.svg#icon-checkmark"
                ></use></svg></span
            >Wyrażam zgodę na przetwarzanie moich danych osobowych
          </label>
        </div>
        <button class="form-btn" type="submit">Wyślij</button>
      </form>
    </div>
    <div class="contact-info">
      <ul class="contacts-list">
        <li class="contacts-list-item">
          <h3 class="contacts-list-item-title">Skontaktuj sie z nami</h3>

          <a
            class="contacts-list-item-number item-styles"
            href="tel:+48668349141"
            ><svg class="contacts-list-item-element-svg" width="18" height="18">
              <use href="././img/svg/spreg-nanowo.svg#icon-cell-phone"></use>
            </svg>
            +48 668 349 141
          </a>

           <a
            href="mailto:nanowo@gmail.com"
            class="contacts-list-item-link item-styles"
            ><svg class="contacts-list-item-element-svg" width="18" height="18">
              <use href="././img/svg/spreg-nanowo.svg#icon-mail"></use>
            </svg>
            biuro@nanowo.com.pl</a
          >
          <p class="contacts-list-item-text item-styles">
            <svg class="contacts-list-item-element-svg" width="18" height="18">
              <use href="././img/svg/spreg-nanowo.svg#icon-calendar"></use>
            </svg>
           Pn-Pt,  09:00-17:00
          </p>
        </li>
        <li class="contacts-list-item">
          <h3 class="contacts-list-item-title">Nasze social media</h3>
         <a href="#" class="contacts-list-item-link item-styles"
            ><svg
              class="contacts-list-item-element-svg inst-svg"
              width="18"
              height="18"
            >
              <use href="././img/svg/spreg-nanowo.svg#icon-Instagram"></use>
            </svg>
            Instagram</a
          ><a href="" class="contacts-list-item-link item-styles"
            ><svg class="contacts-list-item-element-svg" width="18" height="18">
              <use href="././img/svg/spreg-nanowo.svg#icon-facebook"></use>
            </svg>
            Facebook</a
          ><a href="" class="contacts-list-item-link item-styles">
            <svg class="contacts-list-item-element-svg" width="18" height="18">
              <use href="././img/svg/spreg-nanowo.svg#icon-linkedin"></use>
            </svg>
            Linkedin
          </a>
        </li>
        <li class="contacts-list-item">
          <h3 class="contacts-list-item-title">Odwiedź nas</h3>
          <p class="contacts-list-item-address item-styles">
            <span class="svg-wrapper"
              ><svg
                class="contacts-list-item-element-svg"
                width="18"
                height="18"
              >
                <use href="././img/svg/spreg-nanowo.svg#icon-location"></use>
              </svg>
            </span>
            ul.Grabiszyńska 241E, 53-234 Wrocław
          </p>
        </li>
      </ul>
      </div>
    </div>
  </div>
</section>
