<section class="services" id="services">
  <div class="container services-container">
    <h2 class="services-title">Usługi</h2>
    <ul class="services-list">
      <li class="services-list-item">
        <span class="services-list-item-number">1</span>
        <p class="services-list-item-text">
          Sprawdzenie poprawności projektu ze stanem faktycznym na budowie
        </p>
      </li>
      <li class="services-list-item">
        <span class="services-list-item-number">2</span>
        <p class="services-list-item-text">
          Wykonanie inwentaryzacji pomieszczeń
        </p>
      </li>
      <li class="services-list-item">
        <span class="services-list-item-number">3</span>
        <p class="services-list-item-text">
          Sporządzenie i kontrola harmonogramu realizacji
        </p>
      </li>
      <li class="services-list-item">
        <span class="services-list-item-number">4</span>
        <p class="services-list-item-text">
          Kompleksowa realizacja robót remontowo-budowlanych
        </p>
      </li>
      <li class="services-list-item">
        <span class="services-list-item-number">5</span>
        <p class="services-list-item-text">
          Kontrola inwestycji, nadzór nad prowadzonymi pracami
        </p>
      </li>
      <li class="services-list-item">
        <span class="services-list-item-number">6</span>
        <p class="services-list-item-text">
          Współpraca z generalnym wykonawcą na budowie
        </p>
      </li>
      <li class="services-list-item">
        <span class="services-list-item-number">7</span>
        <p class="services-list-item-text">
          Kontrola terminów i jakości wykonywanych robót
        </p>
      </li>
      <li class="services-list-item">
        <span class="services-list-item-number">8</span>
        <p class="services-list-item-text">
          Wygodny serwis gwarancyjny po zakończeniu inwestycji
        </p>
      </li>
    </ul>


  </div>
</section>
