<section class="team" id="team">
  <div class="container team-container">
    <h2 class="team-title">Nasz zespół</h2>
    <ul class="team-list">
      <li class="team-list-item">
        <div class="team-list-card-wrapper">
          <img
            class="team-list-card-pic"
            srcset="
              ././img/About/anatolij-nikitinko-1x-min.png 1x,
              ././img/About/anatolij-nikitinko-2x-min.png 2x
            "
            src="././img/About/anatolij-nikitinko-1x-min.png"
            alt="Anatolij Nikitinko"
          />
          <div class="team-list-card-info-wrapper">
            <h3 class="team-list-card-name">Anatolij Nikitenko</h3>
            <p class="team-list-card-position">Prezes Zarządu</p>
            <a
              class="team-list-card-email"
              href="mailto:anatolii.nikitenko@nanowo.com.pl"
              type="mail"
              >anatolii.nikitenko@nanowo.com.pl</a
            >
          </div>
        </div>
      </li>
      <li class="team-list-item">
        <div class="team-list-card-wrapper">
          <img
            class="team-list-card-pic"
            srcset="
              ././img/About/Aga.jpg 1x,
              ././img/About/Aga-2x.jpg 2x
            "
            src="././img/About/Aga.jpg"
            alt="Agnieszka Dryjańska"
          />
          <div class="team-list-card-info-wrapper">
            <h3 class="team-list-card-name">Agnieszka Dryjańska</h3>
            <p class="team-list-card-position">
              Wiceprezes Zarządu/Kierownik projektu
            </p>
            <a
              class="team-list-card-email"
              href="mailto:agnieszka.dryjanska@nanowo.com.pl"
              type="mail"
              >agnieszka.dryjanska@nanowo.com.pl</a
            >
          </div>
        </div>
      </li>
      <li class="team-list-item">
        <div class="team-list-card-wrapper">
          <img
            class="team-list-card-pic"
            srcset="
              ././img/About/jurij-klymenko-1x-min.png 1x,
              ././img/About/jurij-klymenko-2x-min.png 2x
            "
            src="././img/About/jurij-klymenko-1x-min.png"
            alt="Jurij Klymenko"
          />
          <div class="team-list-card-info-wrapper">
            <h3 class="team-list-card-name">Jurij Klymenko</h3>
            <p class="team-list-card-position">
              Kierownik działu administracyjno-gospodarczego
            </p>
            <a
              class="team-list-card-email"
              href="mailto:jurij.klymenko@nanowo.com.pl"
              type="mail"
              >jurij.klymenko@nanowo.com.pl</a
            >
          </div>
        </div>
      </li>

      <li class="team-list-item">
        <div class="team-list-card-wrapper">
          <img
            class="team-list-card-pic"
            srcset="
              ././img/About/person-4-2x-min.png 1x,
              ././img/About/person-4-2x-min.png 2x
            "
            src="././img/About/person-4-1x-min.png"
            alt="Person-4"
          />
          <div class="team-list-card-info-wrapper">
            <h3 class="team-list-card-name">Agnieszka Dryjańska</h3>
            <p class="team-list-card-position">
              Wiceprezes Zarządu/Kierownik projektu
            </p>
            <a
              class="team-list-card-email"
              href="mailto:agnieszka.dryjanska@nanowo.com.pl"
              type="mail"
              >agnieszka.dryjanska@nanowo.com.pl</a
            >
          </div>
        </div>
      </li>
      <li class="team-list-item">
        <div class="team-list-card-wrapper">
          <img
            class="team-list-card-pic"
            srcset="
              ././img/About/person-5-1x-min.png 1x,
              ././img/About/person-5-2x-min.png 2x
            "
            src="././img/About/person-5-1x-min.png"
            alt="Person-5"
          />
          <div class="team-list-card-info-wrapper">
            <h3 class="team-list-card-name">Agnieszka Dryjańska</h3>
            <p class="team-list-card-position">
              Wiceprezes Zarządu/Kierownik projektu
            </p>
            <a
              class="team-list-card-email"
              href="mailto:agnieszka.dryjanska@nanowo.com.pl"
              type="mail"
              >agnieszka.dryjanska@nanowo.com.pl</a
            >
          </div>
        </div>
      </li>
      <li class="team-list-item">
        <div class="team-list-card-wrapper">
          <img
            class="team-list-card-pic"
            srcset="
              ././img/About/sergij-witkowski-1x-min.png 1x,
              ././img/About/sergij-witkowski-2x-min.png 2x
            "
            src="././img/About/sergij-witkowski-1x-min.png"
            alt="Sergij Witkowski"
          />
          <div class="team-list-card-info-wrapper">
            <h3 class="team-list-card-name">Sergij Witkowski</h3>
            <p class="team-list-card-position">
              Kierownik robót wykończeniowych
            </p>
            <a
              class="team-list-card-email"
              href="mailto:sergij.witkowskij@nanowo.com.pl"
              type="mail"
              >sergij.witkowskij@nanowo.com.pl</a
            >
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
