.location {
  margin-top: 50px;
  margin-bottom: 50px;
}

.location-title {
  margin-bottom: 40px;
  font-family: var(--font-family-second);
  font-weight: var(--font-weight-base);
  font-size: 40px;
  line-height: 1;
  color: var(--section-text-color-dark);
}
.location-wrapper {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
  padding: 50px 50px;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 3px 4px -5px rgba(0, 0, 0, 0.04),
    0 7px 10px -5px rgba(0, 0, 0, 0.06), 0 18px 24px -5px rgba(0, 0, 0, 0.08),
    0 60px 80px -5px rgba(0, 0, 0, 0.1);
}
.location-info-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 544px;
  padding: 24px 40px;
  min-width: 350px;
}

.location-info-wrapper::after {
  position: absolute;
  content: '';
  top: 0;
  left: 10px;
  height: 100%;
  width: 1px;
  background-color: #ddd;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.info-title {
  font-family: var(--font-family-second);
  font-weight: var(--font-weight-base);
  font-size: 20px;
  color: var(--section-text-color-dark);
}
.info-element {
  font-weight: var(--font-weight-base);
  font-size: 20px;
  color: var(--section-text-color-dark);
}
.info-list-item {
  font-size: 0;
}
.location-map-wrapper {
  width: 100%;
  display: flex;
}

.info-svg {
  margin-right: 14px;
  fill: transparent;
  stroke: #25abff;
}

/* .instagram-svg {
  fill: #25abff;
  stroke-width: 0.5px;
} */

.location-map-img {
  width: 100%;
  height: 544px;
}
.info-contact-container{
  display: flex;
gap: 50px;
  flex-direction: column;
}

@media only screen and (max-width: 1200px) {
  .location {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .location-title {
    margin-bottom: 26px;
    font-size: 36px;
  }

  .location-wrapper {
    flex-direction: column-reverse;
    gap: 36px;
    padding: 48px 64px;
  }
  .location-info-wrapper {
    gap: 48px;
    padding: 20px 36px;
  }

  .location-info-wrapper::before {
    display: none;
  }

  .location-info-wrapper::after {
    position: absolute;
    content: '';
    bottom: -16px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #ddd;
  }
  .info-contact-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

  .info-wrapper {
    gap: 10px;
  }
  .info-title {
    font-size: 16px;
  }
  .info-element {
    font-size: 16px;
  }
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .location {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .location-title {
    font-size: 24px;
    text-align: center;
  }
  .location-wrapper {
    flex-direction: column-reverse;
    gap: 24px;
    padding: 24px 0;
  }
  .location-info-wrapper {
    gap: 30px;
    padding: 16px 24px;
  }
  .info-title {
    font-size: 14px;
  }
  .info-element {
    font-size: 14px;
  }

  .info-svg-wrapper {
    width: 14px;
    height: 14px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }

  .info-svg {
    width: 14px;
    height: 14px;
    margin-right: 8px;
    fill: transparent;
    stroke: #25abff;
  }
  .location-map-img {
    width: 100%;
    height: 200px;
  }
  .location-map-wrapper {
    align-items: center;
    justify-content: center;
  }
  .info-contact-container{
  display: flex;
flex-direction: column;
gap: 30px;
}
}
