<header class="header">
  <div class="mob-menu is-hidden" data-mob>
    <ul class="mob-menu-list no-sctoll">
      <li>
        <a
          class="link mob-menu-items"
          id="home-page-link-modal"
          href="./index.html"
          >Home</a
        >
      </li>
      <li>
        <a
          class="link mob-menu-items"
          id="about-page-link-modal"
          href="./about.html"
          >O Nanowo</a
        >
      </li>
      <li>
        <a
          class="link mob-menu-items"
          id="impl-page-link-modal"
          href="./implementation.html"
          >Realizacje</a
        >
      </li>
      <li>
        <a
          class="link mob-menu-items"
          id="updates-page-link-modal"
          href="./updates.html"
          >Aktualnośći</a
        >
      </li>
      <li>
        <a
          class="link mob-menu-items"
          id="contact-page-link-modal"
          href="./contact.html"
          >Kontakt</a
        >
      </li>
    </ul>
  </div>
  <div class="header-container container">
    <a class="logo-link" href="./index.html">
      <img class="logo-img" src="./img/svg/LogoNanowoOryginał.svg" alt="Logo" />
    </a>
    <nav class="nav-container">
      <ul class="nav-menu">
        <li>
          <a class="nav-menu-item link" id="about-page-link" href="./about.html"
            >O Nanowo</a
          >
        </li>
        <li>
          <a
            class="nav-menu-item link"
            id="impl-page-link"
            href="./implementation.html"
            >Realizacje</a
          >
        </li>
        <li>
          <a
            class="nav-menu-item link"
            id="updates-page-link"
            href="./updates.html"
            >Aktualnośći</a
          >
        </li>
        <li>
          <a
            class="nav-menu-item link"
            id="contact-page-link"
            href="./contact.html"
            >Kontakt</a
          >
        </li>
        <li>
          <a class="nav-menu-item link" href="tel:+487656541 ">
            <svg class="contact-img-header">
              <use href="./img/svg/spreg-nanowo.svg#icon-cell-phone"></use>
            </svg>
            <p class="contact-text-header">+48 668 349 141</p>
          </a>
        </li>
      </ul>
    </nav>

    <button
      class="hamburder-btn"
      data-mob-open
      data-mob-close
      type="button "
      id="nav-icon2"
    >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
