<section id="modalContactForm">
  <div class="modal">
    <div class="modal__overlay">
      <div class="modal__container">
        <button class="modal__close" data-close-modal aria-label="Закрити">
          ×
        </button>

        <form class="contact-form" action="">
          <label class="form-label" for="username"
            >Imię<span class="required-input">*</span></label
          >
          <input
            class="form-input"
            type="text"
            name="username"
            id="username"
            placeholder="Text"
          />
          <label class="form-label" for="usercompany"
            >Firma<span class="optional-span">(opcionalne)</span></label
          >
          <input
            class="form-input"
            type="text"
            name="usercompany"
            id="usercompany"
            placeholder="Text"
          />
          <label class="form-label" for="user-email"
            >Email <span class="required-input">*</span></label
          >
          <input
            class="form-input"
            type="email"
            name="user-email"
            id="user-email"
            placeholder="Text"
          />
          <label class="form-label" for="telephone"
            >Telefon<span class="optional-span">(opcionalne)</span></label
          >
          <input
            class="form-input"
            type="number"
            name="telephone"
            id="telephone"
            inputmode="numeric"
            pattern="[0-9]*"
            placeholder="Numer telefonu"
          />
          <label class="form-label" for="user-comment"
            >Informacja<span class="required-input">*</span></label
          >
          <textarea
            class="user-comment form-input"
            name="user-comment"
            id="user-comment"
            placeholder="Text"
          ></textarea>

          <div class="modal-checkbox">
            <input
              class="checkbox visually-hidden"
              id="userPrivacy"
              type="checkbox"
              value="true"
              name="user-privacy"
            />
            <label class="checkbox-label" for="userPrivacy">
              <span class="custom-checkbox">
                <svg class="checkbox-icon" width="10" height="10">
                  <use href="./img/svg/spreg-nanowo.svg#icon-checkmark"></use>
                </svg>
              </span>
              Wyrażam zgodę na przetwarzanie moich danych osobowych
            </label>
          </div>

          <button class="form-btn" type="submit">Wyślij</button>
        </form>
      </div>
    </div>
  </div>
</section>
