.release-page {
  padding-top: 30px;
  display: flex;
  position: relative;
}
.release-container {
  display: flex;
  flex-direction: column;
}
.release-name-wrapper,
.release-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}
.release-name {
  text-align: center;
  font-family: var(--font-family-second);
  font-weight: 400;
  line-height: 100%;
  font-size: 30px;
  color: rgba(42, 49, 55, 1);
}
.release-text {
  text-align: center;
  font-size: var(--mobail-font-size);
  color: rgba(42, 49, 55, 1);
}
.release-gallery {
  display: flex;
  justify-content: space-between;

}
.gallery-item-release {
  object-fit: fill;
  max-width: 320px;
}
.releaseSwiper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.releaseSwiper .swiper-slide {
  max-width: 100%; /* щоб не виходив за межі */
  box-sizing: border-box;
}




.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px !important;
   color: var(--primary-text-color) !important

}

@media only screen and (min-width: 768px) {

  .release-name-wrapper,
  .release-content-wrapper {

    margin-bottom: 30px;
  }
  .release-name {
    font-size: 32px;
    text-align: start;
  }
  .release-text {
    text-align: start;
    font-size: var(--tablet-font-size);
    color: rgba(42, 49, 55, 1);
  }
  .release-gallery {

    margin-bottom: 30px;

  }
}

@media only screen and (min-width: 1200px) {

  .release-name-wrapper,
  .release-content-wrapper {

    margin-bottom: 30px;
  }
  .release-name {
    font-size: 32px;
    text-align: start;
  }
  .release-text {
    text-align: start;
    font-size: var(--font-size-base);
    color: rgba(42, 49, 55, 1);
  }
  .release-gallery {

    margin-bottom: 50px;

  }
  .updates-reliase-img{
    object-fit: cover;
    max-width: 697px;
    max-height: 384px;

  }
  .gallery-item-release {
  object-fit: fill;
  max-width: 270px;
}
}
