<section id="benefits" class="benefits">
  <div class="container benefits-container">
    <p class="benefits-head">Co nas wyróżnia?</p>
    <ul class="benefits-list">
      <li class="benefits-item">
        <svg class="icon-benefits">
          <use
            xlink:href="././img/svg/spreg-nanowo.svg#icon-home-outline"
          ></use>
        </svg>
        <h2 class="benefits-item-head">Pewność realizacji</h2>
        <p class="benefits-text">
          Wszystkie procesy oraz prace wykonujemy wyłącznie przy udziale naszych
          doświadczonych specjalistów, co pozwala zachować pełną kontrolę nad
          harmonogramem i zapewnia terminową realizację projektów
        </p>
      </li>

      <li class="benefits-item">
        <svg class="icon-benefits">
          <use
            xlink:href="././img/svg/spreg-nanowo.svg#icon-people-outline"
          ></use>
        </svg>
        <h2 class="benefits-item-head">Własny zespół fachowców</h2>
        <p class="benefits-text">
          Nasz zespół obejmuje wszystkich niezbędnych specjalistów, w tym
          kierowników projektu, kierowników robót, malarzy, tynkarzy,
          hydraulików, elektryków, płytkarzy i wielu innych
        </p>
      </li>
      <li class="benefits-item">
        <svg class="icon-benefits">
          <use xlink:href="././img/svg/spreg-nanowo.svg#icon-Frame"></use>
        </svg>
        <h2 class="benefits-item-head">Gwarancja</h2>
        <p class="benefits-text">
          Oferujemy gwarancję na cały zrealizowany projekt, a nie tylko na
          poszczególne usługi. W przypadku wystąpienia usterek gwarancyjnych,
          wszystkie naprawy wykonujemy we własnym zakresie, fachowcami naszego
          zespołu
        </p>
      </li>
    </ul>

    <a class="contact-btn benefits-btn open-modal-btn" data-open-modal>
      Skontaktuj się
    </a>
  </div>
</section>
