<section id="hero" class="hero">
  <div class="container hero-section">
    <div class="hero-headline-wrapper">
      <div class="head-container">
        <h2 class="hero-undrer-text">Kompleksowe wykończenia wnętrz</h2>
        <h1 class="hero-headline">DLA DUŻYCH INWESTYCJI</h1>
      </div>
      <ul class="hero-list">
        <li class="hero-list-iteam">
          <h2 class="helro-list-text hero-gs1">MIESZKANIA</h2>
        </li>
        <li class="hero-list-iteam hero-gs2">
          <h2 class="helro-list-text">HOTELE</h2>
        </li>
        <li class="hero-list-iteam hero-gs3">
          <h2 class="helro-list-text">BIURA</h2>
        </li>
      </ul>

    </div>

    <!-- <button class="herro-btn" id="openModalBtn">Zamów darmową wycenę</button> -->
  </div>
</section>
