<section id="projects" class="projects project-container">
  <div class="container">
    <div class="project-header">
      <h2 class="project-head">Nasze realizacje</h2>
      <p class="project-text">
        Zapoznaj się z projektami, które realizowaliśmy
      </p>
    </div>

    <!-- Slider main container -->
    <div class="projectSwiper swiper">
      <!-- Additional required wrapper -->

      <div class="swiper-pagination project-pagination"></div>
      <div class="project-wrapper swiper-wrapper">
        <!-- Slides -->

        <div class="project-slide swiper-slide">
          <div class="slider-container">
            <div class="slide-info">
              <h2 class="investor-slide">Inwestor: <br>Vantage Development S.A.</h2>

              <p class="slide-text">
               Wykonanie prac budowlanych i wykończeniowych  w 185 lokalach mieszkalnych w przedsięwzięciu deweloperskim Buforowa bud. C, D realizowanym we Wrocławiu przy ul. Kopycińskiego
              </p>
              <div class="slider-links">
                <a
                  class="more-link contact-btn"
                  href="././implementation.html#year2021"
                  >Więcej
                  <svg class="arrow-icon">
                    <use
                      href="././img/svg/spreg-nanowo.svg#icon-arrow"
                    ></use></svg
                ></a>
              </div>
            </div>
            <div class="img-slide">
              <a href="././implementation.html#year2021">
                <img
                  class="project-img"
                  src="gallery-impl/Buforowa_89-strona/1x/buforowa2.jpg"
                  srcset="
                    gallery-impl/Buforowa_89-strona/1x/buforowa2.jpg 1x,
                    gallery-impl/Buforowa_89-strona/2x/buforowa2.jpg 2x
                  "
                  alt="img"
                  loading="lazy"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="project-slide swiper-slide">
          <div class="slider-container">
            <div class="slide-info">
              <h2 class="investor-slide">Inwestor: <br> DM Mieszkania Sp.zo.o. Sp.k.</h2>
              <p class="slide-text">
                Zaprojektowanie oraz kompleksowe wykończenie 232 lokali mieszkalnych w budynku CITYZEN przy u. Rychtalskiej 11-15 we Wrocławiu.
              </p>
              <div class="slider-links">
                <a
                  class="more-link contact-btn"
                  href="././implementation.html#year2025"
                  >Więcej
                  <svg class="arrow-icon">
                    <use
                      href="././img/svg/spreg-nanowo.svg#icon-arrow"
                    ></use></svg
                ></a>
              </div>
            </div>
            <div class="img-slide">
               <a href="././implementation.html#year2022">
                <img
                  class="project-img"
                  src="gallery-impl/DM_Mieszkania-strona/1x/DMmieszkania1.jpg"
                  srcset="
                    gallery-impl/DM_Mieszkania-strona/1x/DMmieszkania1.jpg 1x,
                    gallery-impl/DM_Mieszkania-strona/2x/DMmieszkania1.jpg 2x
                  "
                  alt="img"
                  loading="lazy"
              /></a>
            </div>
          </div>
        </div>
        <div class="project-slide swiper-slide">
          <div class="slider-container">
            <div class="slide-info">
              <h2 class="investor-slide">Inwestor: <br> IVANISHVILI Sp. z o.o.</h2>
              <p class="slide-text">
                Wykończenie „pod klucz” 27 apartamentów Marina Apartments, zlokalizowanych przy ul. Na Grobli 20-24 we Wrocławiu wraz z dostawą wyposażenia.
              </p>
              <div class="slider-links">
                <a
                  class="more-link contact-btn"
                  href="././implementation.html#year2023"
                  >Więcej
                  <svg class="arrow-icon">
                    <use
                      href="././img/svg/spreg-nanowo.svg#icon-arrow"
                    ></use></svg
                ></a>
              </div>
            </div>
            <div class="img-slide">
              <a href="././implementation.html#year2023">
                <img
                  class="project-img"
                  src="gallery-impl/IVANISHVILI-Marina strona/1x/IVANISHVILI-Marina1.jpg"
                  srcset="
              gallery-impl/IVANISHVILI-Marina strona/1x/IVANISHVILI-Marina1.jpg 1x,
            gallery-impl/IVANISHVILI-Marina strona/2x/IVANISHVILI-Marina1.jpg 2x
            "
                  alt="img"
                  loading="lazy"
              /></a>
            </div>
          </div>
        </div>
        <div class="project-slide swiper-slide">
          <div class="slider-container">
            <div class="slide-info">
              <h2 class="investor-slide">Inwestor: <br> Vantage Development S.A.</h2>
              <p class="slide-text">
                Kompleksowa adaptacja lokalu usługowego na biuro sprzedaży w zakresie prac wykończeniowych.
              </p>
              <div class="slider-links">
                <a
                  class="more-link contact-btn"
                  href="././implementation.html#year2024"
                  >Więcej
                  <svg class="arrow-icon">
                    <use
                      href="././img/svg/spreg-nanowo.svg#icon-arrow"
                    ></use></svg
                ></a>
              </div>
            </div>
            <div class="img-slide">
              <a href="././implementation.html#year2024">
                <img
                  class="project-img"
                  src="gallery-impl/silownia-vantage-club_gallery/1x/Vantage-club-1.jpg"
                  srcset="
                    gallery-impl/silownia-vantage-club_gallery/1x/Vantage-club-1.jpg 1x,
                    gallery-impl/silownia-vantage-club_gallery/2x/Vantage-club-1.jpg 2x
                  "
                  alt="img"
                  loading="lazy"
              /></a>
            </div>
          </div>
        </div>
        <div class="project-slide swiper-slide">
          <div class="slider-container">
            <div class="slide-info">
              <h2 class="investor-slide">Inwestor: <br> IVANISHVILI Sp. z o.o.</h2>
              <p class="slide-text">
               Kompleksowe wykończenie 10 mieszkań przeznaczonych na wynajem.
              </p>
              <div class="slider-links">
                <a
                  class="more-link contact-btn"
                  href="././implementation.html#year2025"
                  >Więcej
                  <svg class="arrow-icon">
                    <use
                      href="././img/svg/spreg-nanowo.svg#icon-arrow"
                    ></use></svg
                ></a>
              </div>
            </div>
            <div class="img-slide">
              <a href="././implementation.html#year2025">
                <img
                  class="project-img"
                  src="gallery-impl/Naowo-Indonezyjska/1x/Indonezyjska-24.jpg"
                  srcset="
                    /gallery-impl/Naowo-Indonezyjska/1x/Indonezyjska-24.jpg 1x,
                    /gallery-impl/Naowo-Indonezyjska/2x/Indonezyjska-24.jpg 2x
                  "
                  alt="img"
                  loading="lazy"
              /></a>

            </div>
          </div>
        </div>
      </div>
      <div class="swiper-navigation-bottom">
        <div class="swiper-button-prev project-button-prev"></div>
        <div class="swiper-button-next project-button-next"></div>
      </div>
    </div>
  </div>
</section>
