<section id="reviews" class="review">
  <div class="reviews-container">
    <h2 class="container review-header">
      Nasza firma to solidny partner dla dużych <br />
      graczy na rynku nieruchomości
    </h2>
    <div class="img-background-wrapper">
      <h2 class="review-header-name">Klienci o nas</h2>
      <div class="swiper swiperReview">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide slide-reviews">
            <img
              class="reviews-img"
              src="././img/Home/reviews/png-clipart-accesorios-y-memes-de-cuanto-cabron-derp-mem-thumbnail.png"
              alt="user"
            />
            <p class="reviews-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus exercitationem veritatis maiores delectus excepturi
              vitae, perferendis cumque sequi distinctio impedit voluptatem
              culpa quidem maxime, voluptatum repellat doloribus, sit sint
              doloremque.
            </p>
            <div class="review-inwestor">
              <h2 class="rev-investor-name">Grzegorz Brzesztętychiewicz</h2>
              <p class="review-investor">Inwestor</p>
            </div>
          </div>
          <div class="swiper-slide slide-reviews">
            <img
              class="reviews-img"
              src="././img/Home/reviews/png-clipart-accesorios-y-memes-de-cuanto-cabron-derp-mem-thumbnail.png"
              alt=""
            />
            <p class="reviews-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus exercitationem veritatis maiores delectus excepturi
              vitae, perferendis cumque sequi distinctio impedit voluptatem
              culpa quidem maxime, voluptatum repellat doloribus, sit sint
              doloremque.
            </p>
            <div class="review-inwestor">
              <h2 class="rev-investor-name">Grzegorz Brzesztętychiewicz</h2>
              <p class="review-investor">Inwestor</p>
            </div>
          </div>
          <div class="swiper-slide slide-reviews">
            <img
              class="reviews-img"
              src="././img/Home/reviews/png-clipart-accesorios-y-memes-de-cuanto-cabron-derp-mem-thumbnail.png"
              alt=""
            />
            <p class="reviews-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus exercitationem veritatis maiores delectus excepturi
              vitae, perferendis cumque sequi distinctio impedit voluptatem
              culpa quidem maxime, voluptatum repellat doloribus, sit sint
              doloremque.
            </p>
            <div class="review-inwestor">
              <h2 class="rev-investor-name">Grzegorz Brzesztętychiewicz</h2>
              <p class="review-investor">Inwestor</p>
            </div>
          </div>
          <div class="swiper-slide slide-reviews">
            <img
              class="reviews-img"
              src="././img/Home/reviews/png-clipart-accesorios-y-memes-de-cuanto-cabron-derp-mem-thumbnail.png"
              alt=""
            />
            <p class="reviews-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus exercitationem veritatis maiores delectus excepturi
              vitae, perferendis cumque sequi distinctio impedit voluptatem
              culpa quidem maxime, voluptatum repellat doloribus, sit sint
              doloremque.
            </p>
            <div class="review-inwestor">
              <h2 class="rev-investor-name">Grzegorz Brzesztętychiewicz</h2>
              <p class="review-investor">Inwestor</p>
            </div>
          </div>
        </div>
        <!-- If we need pagination -->

        <!-- If we need navigation buttons -->

        <!-- If we need scrollbar -->
      </div>
    </div>
  </div>
  <div class="reviews-pagination-container">
    <div class="swiper-pagination reviews-pagination"></div>
  </div>
</section>
