<section id="whats-new" class="whats-new">
  <div class="container news-container">

    <a class="contact-btn news-btn open-modal-btn" data-open-modal>
      Skontaktuj się
    </a>
    <div class="news-header-container">
      <h2 class="news-header">Nasze aktualności</h2>
    </div>
    <ul class="news-list">
      <li class="news-iteam">
       <a class="more-link " href="././updates.html">
    <img
      class="updates-reliase-img"
      src="././img/Updates/release1/fonImg-1x.jpg"
      srcset="
        ././img/Updates/release1/fonImg-1x.jpg 1x,
        ././img/Updates/release1/fonImg-2x.jpg 2x
      "
      alt="Homes"
      loading="lazy"
    />
  </a>
        <div class="iteam-text-content">
          <h2 class="news-iteam-header">Nowy projekt w Gdańsku</h2>
          <p class="news-iteam-text">
             Wykończenie 125 mieszkań pod wynajem długoterminowy!
          </p>
          <a class="more-link more-link-news contact-btn " href="././updates.html"
            >Więcej
            <svg class="arrow-icon more-link-news">
              <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
          ></a>
        </div>
      </li>
    </ul>
  </div>
</section>
